/* Global styles */

body {
    min-height: 100vh;
    position: relative;
}

footer {
    background: grey;
    min-height: 50px;
    width: 100%;
    position: absolute;
    bottom: -150px;
    color: #FFF;
}

footer > .valign-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
}

footer a {
    color: #FFF;
    padding: 0 10px;
}

.border-radius-15 {
    border-radius: 15px;
}

.display-inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.row.center .padding-10 {
    padding: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.max-width-200 {
    max-width: 200px;
}

.img-max-width-256 {
    max-width: 256px;
}

.img-max-width-150 {
    max-width: 150px;
}

.img-max-width-32 {
    max-width: 32px;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-direction-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

/* End of global styles */

#user-profile-icon {
    font-size: 3rem;
}

.profile-preview {
    overflow: hidden;
    max-height: 130px;
}

.back-btn-wrapper {
    text-align: left;
}

#about {
    padding-bottom: 0;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

.tab-link.current {
    background-color: #00bcd4;
}

.tab-link-heading h5 {
    font-size: 1.5rem;
    margin: 15px;
}

.tabs-nav {
    border-radius: 10px;
    overflow: hidden;
}

#messages-form-wrapper {
    position: absolute;
    top: 80vh;
}

#messages-wrapper {
    height: 50vh;
    overflow: scroll;
}

@media only screen and (max-width: 440px) {
    /* Pull site name/logo to the left more on smaller screens */
    nav .brand-logo {
        left: 35%;
    }

    .back-btn-wrapper {
        text-align: center;
    }
}


@media only screen and (max-width: 600px) {
    .valign-wrapper {
        display: block;
    }

    .profile-preview h5 {
        text-align: center;
    }

    .back-btn {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 993px) {
    .margin-left-50 {
        margin-left: 50px;
    }
}