body {
    min-height: 100vh;
    position: relative;
}

footer {
    background: grey;
    min-height: 50px;
    width: 100%;
    position: absolute;
    bottom: -100px;
    color: #FFF;
}

footer > .valign-wrapper {
    justify-content: space-between;
    max-width:  800px;
    margin: auto;
    padding: 10px 20px;
}

footer a {
    color: #FFF;
    padding: 0 10px;
}

.img-max-width-256 {
    max-width: 256px;
}

.img-max-width-150 {
    max-width: 150px;
}

.img-max-width-32 {
    max-width: 32px;
}

#user-profile-icon {
    font-size: 3rem;
}

.border-radius-15 {
    border-radius: 15px;
}

.display-inline-block {
    display: inline-block;
}

.profile-preview {
    overflow: hidden;
    max-height: 130px;
}

#about {
    padding-bottom: 0;
}

.row.center .padding-10 {
    padding: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.max-width-200 {
    max-width: 200px;
}

.tab-content {
    display: none;
}

.tab-content.current {
    display: inherit;
}

.tab-link.current {
    background-color: #00bcd4;
}

.cursor-pointer {
    cursor: pointer;
}

.tab-link-heading h5 {
    font-size: 1.5rem;
    margin: 15px;
}

.tabs-nav {
    border-radius: 10px;
    overflow: hidden;
}

.flex-direction-reverse {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 440px) {
    nav .brand-logo {
        left: 35%;
    }
}


@media only screen and (max-width: 600px) {
    .valign-wrapper {
        display: block;
    }
    
    .profile-preview h5 {
        text-align: center;
    }
}

@media only screen and (min-width: 993px) {
    .margin-left-50 {
        margin-left: 50px;
    }
}