{% extends 'base.html' %} {% block content %}

<div class="row center">
    <img class="img-max-width-256" src="https://image.freepik.com/free-vector/connected-concept-illustration_114360-472.jpg" alt="online connect">
    <h1>Welcome</h1>
    <h4>Find a mentor or start pair programming</h4>
</div>

<div class="row">
    <div class="valign-wrapper">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://image.freepik.com/free-vector/managers-looking-chart-monitor_1262-19283.jpg" alt="people search">
        </div>
        <div class="col s12 m6 center-align">
            <h3>Find a Mentor</h3>
            <p class="left-align">Code Together is a free platform and one of it's missions is to connect software developers and mentors all over the world.</p>
            <p class="left-align">Search for specific technical expertise or by name. Get help on complex topics that can't be understood easily. Can't squash that bug? Curious about working in the industry? Code Together is here to help you find answers and accelerate your coding journey.</p>
            <a href="{{ url_for('register') }}" class="btn btn_small blue">Start Now</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="valign-wrapper flex-direction-reverse">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://image.freepik.com/free-vector/online-training-flat-design-man-s-character-is-sitting-desk-studying-online-with-online-course-online-examination-concept_73903-264.jpg" alt="online teaching">
        </div>
        <div class="col s12 m6 center-align">
            <h3 class="center">Become a Mentor</h3>
            <p class="left-align">There are no requirements to become a mentor except a willingness to share your knowledge.</p>
            <p class="left-align">Give back to the developer community and mentor the next generation of developers. You would provide one-to-one help by answering questions and reviewing code. Even if you donate 1 hour of your time that could be invaluable to a mentee.</p>
            <a href="{{ url_for('register') }}" class="btn btn_small blue">Let's Go!</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="valign-wrapper">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://image.freepik.com/free-vector/communication-flat-icon_1262-18771.jpg" alt="connect programmers">
        </div>
        <div class="col s12 m6 center-align">
            <h3 class="center">Start Pair Programming</h3>
            <p class="left-align">Code Together welcomes developers from all levels.</p>
            <p class="left-align">Our friendly and inclusive community is always happy to help each other learn. Provide encouragement and open expression of ideas and opinions. Code Together values the knowledge that can be gained from mistakes, so don't be afraid to try. Find a pair programming partner and start learning, helping, and building together today.</p>
            <a href="{{ url_for('register') }}" class="btn btn_small blue">Register Now</a>
        </div>
    </div>
</div>

{% endblock %}