{% extends 'base.html' %} {% block content %}

<div class="row center">
    <img class="img-max-width-256" src="https://image.freepik.com/free-vector/abstract-circular-geometric-element-vector_53876-59137.jpg">
    <h1>Welcome</h1>
    <h4>Find a mentor or start pair programming</h4>
</div>

<div class="row">
    <div class="valign-wrapper">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://image.freepik.com/free-vector/managers-looking-chart-monitor_1262-19283.jpg">
        </div>
        <div class="col s12 m6 center-align">
            <h3>Find a Mentor</h3>
            <p class="left-align">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</p>
            <a href="#" class="btn btn_small blue">Start Now</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="valign-wrapper flex-direction-reverse">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://image.freepik.com/free-vector/online-training-flat-design-man-s-character-is-sitting-desk-studying-online-with-online-course-online-examination-concept_73903-264.jpg">
        </div>
        <div class="col s12 m6 center-align">
            <h3 class="center">Become a Mentor</h3>
            <p class="left-align">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</p>
            <a href="#" class="btn btn_small blue">Let's Go!</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="valign-wrapper">
        <div class="col s12 m6">
            <img class="responsive-img" src="https://image.freepik.com/free-vector/communication-flat-icon_1262-18771.jpg">
        </div>
        <div class="col s12 m6 center-align">
            <h3 class="center">Start Pair Programming</h3>
            <p class="left-align">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio.</p>
            <a href="#" class="btn btn_small blue">Register Now</a>
        </div>
    </div>
</div>

{% endblock %}