{% extends 'base.html' %} {% block content %}
 
<div class="row center">
    <h3>Mentors</h3>
    
    <div class="input-field">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="validate">
    </div>
    
    <div class="input-field">
        <label for="description">Job Title/Short Description</label>
        <input id="description" name="description" type="text" class="validate">
    </div>
    
    <div class="input-field">
        <label for="expertise">Expertise</label>
        <input id="expertise" name="expertise" type="text" class="validate">
    </div>
    
    <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Search</button>
</div>

<div class="row center">
    {% for user in users %}
    <div class="valign-wrapper hoverable">
        <div class="col s4 right-align">
            <img src="{{ user.avatar }}" class="img-max-width-64 z-depth-2 circle">
        </div>
    
        <div class="col s8 left-align profile-preview">
            <h5>{{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }}</h5>
            <p class="truncate">{{ user.about }}</p>
            {% for item in user.expertise[-5:] %}
            <a href="#" class="truncate display-inline-block">{ {{ item }} } </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}