{% extends 'base.html' %} {% block content %}
 
<div class="row center">
    <h3>{{ title }}</h3>
    <form action="
    {% if title == 'Mentors' %}
        {{ url_for('mentors_search') }}
    {% else %}
        {{ url_for('pair_programmers_search') }}
    {% endif %}
    " method="POST">
        <div class="input-field">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" class="validate">
        </div>
        
        <div class="input-field">
            <label for="expertise">Expertise</label>
            <input id="expertise" name="expertise" type="text" class="validate">
        </div>
    
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Search</button>
    </form>
</div>

<div class="row center">
    {% for user in users %}
    <div class="valign-wrapper hoverable border-radius-15 margin-top-50 col s12 l6">
        <div class="col s2 m3 right-align">
            <a href="{{ url_for('user_profile', user_id=user._id) }}"><img src="{{ user.avatar }}" class="img-max-width-64 z-depth-2 circle"></a>
        </div>
        <div class="col s10 m9 left-align profile-preview">
            <a href="{{ url_for('user_profile', user_id=user._id) }}"><h5>{{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }}</h5></a>
            <p class="truncate">{{ user.about }}</p>
            {% for item in user.expertise[-5:] %}
            <a href="#" class="truncate display-inline-block">{ {{ item }} } </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}