{% extends 'base.html' %} {% block content %}
    
    <div class="row center">
        <img src="{{ user.avatar }}" class="z-depth-4 circle img-max-width-256">
        <h4>{{ user.first_name.capitalize()  }} {{ user.last_name.capitalize()  }}</h4>
        <p>{{ user.description.title() }}</p>
    </div>
        
    <div class="row center z-depth-3 tabs-nav">
        <div class="col s3 tab-link current cursor-pointer" data-tab="profile">
            <h5>Profile</h5>
        </div>
        <div class="col s3 tab-link cursor-pointer" data-tab="expertise">
            <h5>Expertise</h5>
        </div>
        <div class="col s3 tab-link cursor-pointer" data-tab="reviews">
            <h5>Reviews</h5>
        </div>
        <div class="col s3  tab-link cursor-pointer" data-tab="contact">
            <h5>Contact</h5>
        </div>
    </div>
    
    <div class="row center  margin-top-50">
        <div id="profile" class="tab-content current">
            <h3>Profile</h3>
            <div class="row margin-top-50">
                <div class="col s4 right-align">
                    <h5>About Me</h5>
                </div>
                <div class="col s6 left-align">
                    <h6>{{ user.about }}</h6>
                </div>
            </div>
    
            <div class="row">
                <div class="col s4 right-align">
                    <h5>Looking to</h5>
                </div>
                <div class="col s6 left-align">
                    <ul>
                        {% for item in user.looking_to %}
                        <li>{{ item.capitalize() }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="expertise" class="tab-content">
            <h3>Expertise</h3>
            <div class="row margin-top-50">
                <div class="col s6 right-align">
                    <h5>Expertise</h5>
                </div>
                <div class="col s6 left-align">
                    <ul>
                        {% for item in user.expertise %}
                        <li>{{ item.capitalize() }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="reviews" class="tab-content">
            <h3>Review</h3>
            <div class="row margin-top-50">
                
            </div>
        </div>
        <div id="contact" class="tab-content">
            <h3>Contact</h3>
            <div class="row margin-top-50">
                <div class="col s6 right-align">
                    <ul>
                        <li>GitHub</li>
                        <li>LinkedIn</li>
                        <li>Discord</li>
                        <li>Skype</li>
                    </ul>
                </div>
                <div class="col s6 left-align">
                    <ul>
                        <li><a href="{{ user.contact.github }}">{{ user.contact.github }}</a></li>
                        <li><a href="{{ user.contact.linkedin }}">{{ user.contact.linkedin }}</a></li>
                        <li><a href="{{ user.contact.discord }}">{{ user.contact.discord }}</a></li>
                        <li>{{ user.contact.skype }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% if current_user.is_authenticated and user._id == current_session_user._id %}
            <a href="{{ url_for('edit_profile') }}" class="btn waves-effect waves-light btn-large">Edit Profile</a>
        {% endif %}
    </div>
    
{% endblock %}